@page
@model ViewAllModel
@{ ViewData["Title"] = "Мои заказы"; }

<h1>Мои заказы</h1>
<div class="table-responsive">
    <table class="table table-striped recipe">
        <thead>
            <tr>
                <th>Назв. услуги</th>
                <th>Организация</th>
                <th>Год</th>
                <th>Квартал</th>
                <th>Сделано</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in Model.Orgs)
            {
                <tr>
                    <td class="align-middle">@org.ServiceName</td>
                    <td class="align-middle">@org.Name</td>
                    <td class="align-middle">@org.YearStr</td>
                    <td class="align-middle">@org.QuarterStr</td>
                    <td class="align-middle">@org.IsDone</td>
                    <td class="align-middle"><a asp-page="View" asp-route-id="@org.Id" class="btn btn-primary">Открыть</a></td>
                </tr>            
            }
        </tbody>
    </table>
</div>
<a asp-page="NullOtch" class="btn btn-success">Заказать нулевку</a>
<a asp-page="BuhOtch" class="btn btn-success">Заказать бухуслуги</a>