@page "{id}/{handler?}"
@model BuhUsl.Pages.ViewModel
@{ ViewData["Title"] = Model.Org.Name; }

<h2>@Model.Org.Name</h2>

<form asp-page-handler="Delete" asp-route-id="@Model.Org.Id">
    <p>
        @if (Model.CanEditOrg)
        {
            <a asp-Page="Edit" asp-route-id="@Model.Org.Id" class="btn btn-primary">Edit</a>
            <button class="btn btn-danger">Delete</button>
        }
    </p>
</form>

<dl
    <dt>@Model.Org.ServiceName</dt>
    <dt>@Model.Org.Name</dt>
    <dd>@Model.Org.Inn</dd>
    <dd>@Model.Org.SystemNalog</dd>
    <dd>@Model.Org.Quarter</dd>
    <dd>@Model.Org.Year</dd>

</dl>


